/*=================================
  help section styling starts here
=================================*/

.help-section {
  padding-bottom: 60px;
  .wrapper {
    padding: 60px;
    @include flex();
    background-color: map-get($map: $colors, $key: lightdarkBlue);
  }

  &__fig {
    padding: 50px;
    width: 250px;
    height: 237px;
  }

  &__info { width: 60%; }

  .heading {
    color: map-get($map: $colors, $key: white);
    @include font($size: 32px);
  }

  .para {
    margin-top: 15px;
    color: map-get($map: $colors, $key: white);
    line-height: 28px;
    @include font($size: 18px);
  }

  .btn--livechat {
    margin-top: 25px;
    border: 1px solid map-get($map: $colors, $key: white); 
  }
}

/*=================================
  help section styling ends here
=================================*/